.event-card {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    max-width: 900px;
    margin: 10px; 
}

.event-card .buttons {
    text-align: right;
}