@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

body {
    font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.page-title {
    text-align: center;
    margin: 25px;
   }
   
.top-of-page {
    display: flex;
    flex-direction: column;
}

.top-of-page-button {
    text-align: center;
    margin: 10px 0px 30px;
}

.modal-form {
    padding: 10px;
}