.app-card {
    /* border: 1px solid rgb(60, 59, 59); */
    margin: 25px 10px;
    width: 45%;
    min-width: 370px;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    text-align: center;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px; /* rounded corners */
}

.app-card-top {
    border-bottom: 1px solid black;
    padding: 3px;
    text-align: center;
}

.app-card-middle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 0px;
}

.app-card-events p {
    color: black;
}

.app-card-bottom button {
    width:50%;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px; /* rounded corners */

}

@media (max-width: 370px) {
    .app-card {
        min-width: 315px;
    }
}